# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
los
game
serv
srv
utest

CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# Various stuff
.kdev4
.*.swp
.*.swo
build/
.ycm*

# GTest build files
gtest/build
